<div class="container">
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
    <div class="circletwo">
    </div>
    <div class="circleone">
    </div>
    <div class="circletwo">
    </div>
</div>