.container{
    display:flex;
}
.triangle-up {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #590059;
}
.triangle-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid paleturquoise;
}