.app-container{
    display:flex;
    background:#f1f6ff;
    justify-content: center;
}

.line-one{
    border-radius: 5px;
    margin-top: 20px;
    border-left :5px solid #590059;
    border-right: 5px solid #590059;
    height: 65px;
    width: 10px;
     background: pink;
}
.line-two{
    border-radius: 5px;    
    margin-top:20px;
    border-left :5px solid #590059;
    border-right: 5px solid #590059;
    height: 65px;
    width: 10px;
background: paleturquoise;

}
h1{
    text-align: center;
    border:5px solid #590059;
    width:400px ;
    border-radius: 10px;
    background: #590059;
    color: white;
    padding: 10px;
    margin: 20px;
}
 